<div class="card">
    <div class="card-header">
      <h3>Trip a {{ localita }}</h3>
    </div>
  
    <div class="card-content">
      <img src="assets/beach.jpg" alt="Immagine di {{ localita }}" class="card-image" />
  
      <div class="card-details">
        <p><strong>Durata:</strong> {{ durata }}</p>
        <p><strong>Albergo:</strong> {{ albergo }}</p>
        <p class="costo"><strong>Costo:</strong> {{ costo }} €</p>
      </div>
    </div>
  
    <div class="card-footer">
      <button class="btn">Redirect</button>
    </div>
  </div>
  