.navbar {
    background-color: #8cbec6; /* Colore azzurro */
    padding: 10px 20px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
  }
  
  .logo {
    color: #f4a841; /* Colore arancione */
    font-size: 24px;
    font-weight: bold;
  }