.prompt-container {
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
  }
  
  input {
    flex-grow: 1;
    padding: 1rem;
    border: 0.125rem solid var(--card-border); 
    border-radius: 0.3rem;
    background-color: var(--content-bg); 
    color: var(--header-color); 
  }
  
  button {
    background-color: var(--btn-bg);
    color: var(--btn-text-color);
    border: none;
    padding: 1rem 1.5rem;
    cursor: pointer;
    font-weight: bold;
    border-radius: 0.3rem;
  }
  
  button:hover {
    background-color: var(--btn-hover-bg);
  }
  